.guide {
  padding: 0 20px 49px;
}

.guide__title {
  @include title-styles($font-primary, $font-size-title, 400, 36px, 0);
  padding-top: 38px;
  padding-left: 0;
}

.guide__list {
  @include list-styles;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
}

.guide__list-item {
  display: flex;
  align-items: center;
}

.guide__list-content {
  @include text-styles($font-secondary, $font-size-text, 400, 18px, 0);
  color: $color-grey;
  display: flex;
  gap: 20px;
  align-items: center;
}

.guide__list-content--tree {
  &::before {
    content: url("../img/index/icons/list_img_1.svg");
    width: 60px;
    height: 60px;
  }
}

.guide__list-content--water {
  &::before {
    content: url("../img/index/icons/list_img_2.svg");
    width: 60px;
    height: 60px;
  }
}

.guide__list-content--fork {
  &::before {
    content: url("../img/index/icons/list_img_3.svg");
    width: 60px;
    height: 60px;
  }
}

.guide__list-content--gram {
  &::before {
    content: url("../img/index/icons/list_img_4.svg");
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $tablet) {
  .guide {
    padding: $section-padding-tablet;
    padding-bottom: 47px;
  }

  .guide__title {
    @include title-styles($font-primary, 60px, 400, 60px, 0);
    padding-top: 0;
  }

  .guide__list {
    grid-template: 230px 230px/280px 280px;
    gap: 86px 103px;
    align-items: flex-start;
    padding-top: 72px;
  }

  .guide__list-item {
    position: relative;
  }

  .guide__list-item {
    &::after {
      @include title-styles($font-primary,280px, 400, 280px,0);
      color: $background-grey;
      position: absolute;
      z-index: -1;
      top: -43px;
    }

    &:nth-child(1)::after {
      content: "1";
      left: 118px;
      top: -39px;
    }

    &:nth-child(2)::after {
      content: "2";
      left: 112px;
      top: -39px;
    }

    &:nth-child(3)::after {
      content: "3";
      left: 113px;
      top: -39px;
    }

    &:nth-child(4)::after {
      content: "4";
      left: 115px;
      top: -39px;
    }
  }

  .guide__list-content {
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    align-items: flex-start;
    max-width: 242px;
    gap: 50px;
  }

  .guide__list-content--tree {
    &::before {
      content: url("../img/index/icons/list_img_1_tablet.svg");
      width: 60px;
      height: 60px;
    }
  }

  .guide__list-content--water {
    &::before {
      content: url("../img/index/icons/list_img_2_tablet.svg");
      width: 60px;
      height: 60px;
    }
  }

  .guide__list-content--fork {
    &::before {
      content: url("../img/index/icons/list_img_3_tablet.svg");
      width: 60px;
      height: 60px;
    }
  }

  .guide__list-content--gram {
    &::before {
      content: url("../img/index/icons/list_img_4_tablet.svg");
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: $desktop) {
  .guide {
    padding: $section-padding-desktop;
    padding-bottom: 70px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .guide__title {
    @include title-styles($font-primary, 60px, 400, 60px, 0);
  }

  .guide__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 80px;
  }
}
