.additional {
  padding:26px 20px 35px 20px;
}

.additional__title {
  @include title-styles($font-primary, $font-size-title-list, 400, 24px, 0);
  padding:25px 0 36px 0px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
    &::after {
      content:"";
      display:inline-block;
      width:100vw;
      height:2px;
      background-color:$background-green;
      position: absolute;
      left:242px;
    }
}

.additional__image {
  display:flex;
  flex-direction: column;
  gap:48px;
  align-items: center;
  justify-content: center;
  height:290px;
  margin-top:35px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url('../img/catalog/cat_additional.webp');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size:cover;
  // padding:27px 36px 164px 36px;

    &::before {
      content:url('../img/catalog/icons/icon_gift.svg');
      display:block;
      width:78px;
      height: 80px;
    }
    @media (min-resolution:2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url('../img/catalog/cat_additional_2x.webp');
      background-size:cover;
    }
}
.additional__text {
  @include title-styles($font-secondary, 16px, 400, 20px, 0);
  color:$color-white;
  max-width:161px;
  text-align:center;

}

@media (min-width:$tablet) {
  .additional {
    padding:70px 30px;
  }
  .additional__title {
    @include title-styles($font-primary, 36px, 400, 36px, 0);
    margin-left:40px;
    padding-bottom:80px;
    &::after {
      left: 380px;
    }
    &::before {
      content:"";
      display:inline-block;
      width:30px;
      height:2px;
      background-color:$background-green;
      position: absolute;
      left: -71px;
    }
  }
  .additional__image{
    flex-direction: row;
    gap:264px;
    height:200px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url('../img/catalog/cat_additional_tablet.webp');
    @media (min-resolution:2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url('../img/catalog/cat_additional_tablet_2x.webp');
      background-size:cover;
    }

  }
  .additional__text{
    text-align:left;
  }
}

@media (min-width:$desktop) {
  .additional {
    max-width:1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding:76px 110px;
  }
  .additional-inner {
    display:flex;
    justify-content: space-between;
  }
  .additional__title {
    @include title-styles($font-primary, 36px, 400, 36px, 0);
    margin-left:0px;
    padding-bottom:80px;
    &::before {
      content:"";
      display:inline-block;
      width:70px;
      height:2px;
      background-color:$background-green;
      position: absolute;
      left: -110px;
    }
  }
  .additional__image {
    flex-direction: column;
    margin-top:0px;
    gap:46px;
    flex-basis:245px;
    height:288px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url('../img/catalog/cat_additional.webp');
    @media (min-resolution:2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url('../img/catalog/cat_additional_2x.webp');
      background-size:cover;
    }
  }
  .additional__text {
    text-align: center;
  }

}

