.programs {
  padding:$section-padding;
}
.programs__list {
  @include list-styles;
  display:flex;
  flex-direction: column;
}
.programs__item {
  margin:20px 0;
  background-color: $background-grey;
  position: relative;
}
.programs__title {
  @include title-styles($font-primary, $font-size-title-list, 400, 37px, 0);
  text-transform:uppercase;
}
.programs__text {
  @include text-styles($font-secondary, $font-size-text, 400, 18px, 0);
  color:$color-grey;
  padding:22px 33px 23px 20px;
}
.programs__link {
  @include link-styles-reset;
  @include text-styles($font-primary, 16px, 400, 16px, 0);
  width:100%;
  max-width:134px;
  text-transform: uppercase;
  padding:4px 0;
  margin:15px 126px 18px 20px;
  display:inline-block;
    &:active {
      opacity: 0.3;
    }
}
.programs__link-arrow {
  margin-left:12px;
    transition: transform 0.3s;
    &:active {
      transform: scaleX(1.3);
  }
}

@media (min-width: $mobile) {
  .programs__title--slim {
      &::before {
        content:url('../img/index/icons/cat_back_slim.svg');
        display:inline-block;
        width:36px;
        height:50px;
        margin-right:27px;
        padding:24px 0 0 20px;
        vertical-align:bottom;
      }
  }
  .programs__title--fat {
      &::before {
        content:url('../img/index/icons/cat_back_fat.svg');
        display:inline-block;
        width:36px;
        height:50px;
        margin-right:43px;
        padding:24px 0 0 20px;
        vertical-align:bottom;
      }
  }
  .programs__break-hr {
    border:1px solid #D9D9D9;
    max-width:85%;

  }
}

@media (min-width: $tablet) {
  .programs {
    padding:$section-padding-tablet;
    padding-bottom: 45px;
  }
  .programs__break-hr {
    display:none;
  }
  .programs__title {
    @include title-styles($font-primary, 36px, 400, 36px, 0);
  }
  .programs__text {
    @include title-styles($font-secondary, 16px, 400, 24px, 0);
    max-width:340px;
    margin-top:24px;
    padding:0px;
  }
  .programs__link {
    margin: 52px 126px 0px 0px;
    max-width:165px;
  }
  .programs__link-arrow {
    margin-left:25px;
  }
  .programs__title--slim {
    &::before {
      display:none;
    }
  }
  .programs__title--fat {
    &::before {
      display:none;
    }
  }
  .programs__item {
    display:flex; // сделать через абсолют релатив убрать флексы.
    flex-direction: column;
    justify-content: space-between;
    padding:77px 63px 57px 52px;
  }
  .programs__item--slim {
      &::after {
        content:url('../img/index/icons/cat_black_slim_tablet.svg');
        display:inline-block;
        position: absolute;
        right:63px;
      }
  }
  .programs__item--fat {
    &::after {
      content:url('../img/index/icons/cat_back_fat_tablet.svg');
      display:inline-block;
      position: absolute;
      right:29px;
      bottom: 98px;
    }
  }
}

@media (min-width:$desktop) {
  .programs {
    padding:$section-padding-desktop;
    padding-bottom:71px;
    padding-top:162px;
  }
  .programs__list{
    justify-content: center;
    flex-direction:row;
    gap:80px;
  }
  .programs__item {
    display:block;
    flex-basis:570px;
    padding:0px;
    padding-top:77px;
  }
  .programs__item--slim,
  .programs__item--fat {
      &::after {
        display:none;
      }
  }
  .programs__title {
    text-align: center;
    position: relative;
  }
  .programs__title--slim {
      &::before {
        content:url('../img/index/icons/cat_black_slim_desktop.svg');
        display:inline-block;
        width:100px;
        height:106px;
        position: absolute;
        bottom: -29px;
        left: 32px;
        vertical-align:middle;
      }
  }
  .programs__title--fat {
    left:44px;
      &::before {
        content:url('../img/index/icons/cat_back_fat_desktop.svg');
        display:inline-block;
        width:134px;
        height:100px;
        position: absolute;
        bottom: -29px;
        left: -26px;;
        vertical-align:middle;
      }
    }
  .programs__text {
    padding:39px 61px 27px 52px;
    max-width:457px;
  }
  .programs__link {
    max-width:168px;
    margin:27px 350px 55px 52px;
      &::after {
        margin-left:25px;
      }
      &:active {
        opacity: 0.3;
      }
      &:hover .programs__link-arrow  {
        transform: scaleX(1.3);
      }
  }
  .programs__link-arrow {
    transition: transform 0.3s;
  }
}



