.programs {
  padding:$section-padding;

}

.programs__title {
  @include visually-hidden;
}

.programs__list {
  @include list-styles;
  display:flex;
  flex-direction: column;
}

.programs__item {
  margin:20px 0;
}

.program__title {
  @include title-styles($font-primary, $font-size-title-list, 400, 37px, 0);
  text-transform:uppercase;
}

.program__text {
  @include text-styles($font-secondary, $font-size-text, 400, 18px, 0);
  color:$color-grey;
}

@media (min-width: $mobile) {
  .program__title::before {
    content:url('../source/img/index/cat-back.svg');
    display:block;
    width:36px;
    height:50px
  }
}

@media (min-width: $desktop) {
  .programs {
    padding:$section-padding-tablet;
  }
}

@media (min-width:$desktop) {
  .programs {
    padding:$section-padding-desktop;
  }
  .programs__list{
    flex-direction:row;
  }
}

