
.personal-data {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 24px;
}

.personal-data__title {
  @include title-styles($font-primary, $font-size-title-list, 400, 26px, 0);
  display: flex;
  align-items: center;
  max-width: 187px;
  justify-content: space-between;
  margin: 29px 0 18px;

  &::after {
    content: "";
    display: inline-block;
    width: 100vw;
    height: 2px;
    background-color: $background-green;
    position: absolute;
    left: 227px;
    top: 627px;
  }
}

.personal-data__inner {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.personal-data__input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding: 0 0 0 15px;

  &::placeholder {
    @include text-styles($font-primary, 16px, 400, 18px, 0);
    text-transform: uppercase;
    color: $color-grey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:not(:placeholder-shown) {
    @include text-styles($font-primary, 16px, 400, 18px, 0);
    text-transform: uppercase;
    color: $color-grey;
    padding-left: 15px;
  }

  &:focus {
    outline: 2px solid $color-grey;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }

  &:invalid:not(:placeholder-shown) + .personal-data__input-icon {
    stroke: #ff8282;
  }

  &:valid + .personal-data__input-icon {
    stroke: #68b738;
  }
}

.personal-data__label {
  @include text-styles($font-primary, 16px, 400, 18px, 0);
  text-transform: uppercase;
  color: $color-grey;
}

.personal-data__email-inner,
.personal-data__phone-inner {
  display: flex;
  gap: 13px;
  align-items: center;
  position: relative;
}

.personal-data__input-icon {
  stroke: #000000;
  position: absolute;
  top: 15px;
  right: 6px;
  bottom: 12px;
  fill: none;
}

@media (min-width: $tablet) {
  .personal-data {
    padding-bottom: 65px;
  }

  .personal-data__inner {
    gap: 18px;
  }

  .personal-data__input {
    padding: 3px 20px;

    &::placeholder {
      @include text-styles($font-primary, 20px, 400, normal, 0);
    }

    &:not(:placeholder-shown) {
      @include text-styles($font-primary, 20px, 400, normal, 0);
    }
  }

  .personal-data__input-icon {
    position: absolute;
    top: 18px;
    right: 6px;
    bottom: 12px;
    fill: none;
  }

  .personal-data__label {
    @include text-styles($font-primary, 20px, 400, normal, 0);
  }

  .personal-data__title {
    @include text-styles($font-primary, 36px, 400, 36px, 0);
    max-width: 100%;
    margin-bottom: 60px;

    &::after {
      left: 622px;
      top: 931px;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      background-color: $background-green;
      position: absolute;
      left: 0;
      top: 931px;
    }
  }
}

@media (min-width: $desktop) {
  .personal-data {
    padding-bottom: 70px;
  }

  .personal-data__inner {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .personal-data__email-inner,
  .personal-data__phone-inner {
    flex-basis: 50%;
  }

  .personal-data__title {
    position: relative;

    &::after {
      left: 555px;
      top: 17px;
    }

    &::before {
      width: 100vw;
      left: calc(-1 * 100vw - 40px);
      top: 17px;
    }
  }
}
