$font-primary: "Oswald", "Helvetica", sans-serif;
$font-secondary: "Lato", "Arial", sans-serif;
$color-white:#FFFFFF;
$color-black:#000000;
$color-grey: #444;
$background-grey:#F2F2F2;
$background-green:#68B738;
$font-size-title:36px;
$font-size-title-list:24px;
$font-size-text:14px;
$font-size-small:12px;
$section-padding:0 20px;
$section-padding-tablet:0 30px;
$section-padding-desktop:0 110px;
$mobile:320px;
$tablet:768px;
$desktop:1440px;

