$font-primary: "Oswald", "Helvetica", sans-serif;
$font-secondary: "Lato", "Arial", sans-serif;
$color-white:#FFFFFF;
$color-black:#000000;
$color-grey: #444;
$font-size-title:36px;
$font-size-title-list:24px;
$font-size-text:14px;
$font-size-small:12px;
$section-padding:0 20px;

