.comment {
  padding-bottom:38px;
}
.comment__title {
  @include title-styles($font-primary, $font-size-title-list, 400, 26px, 0);
  margin-bottom: 38px;
  display:flex;
  align-items: center;
  &::after {
    content:"";
    display:inline-block;
    height:2px;
    background-color:$background-green;
    position: absolute;
    width:100vw;
    left:168px;
  }
}
.comment__label {
  @include visually-hidden;
}
.comment__textarea {
  width:100%;
  outline:none;
  border:1px solid #E7E7E7;
  height: 150px;
  box-sizing: border-box;
  padding:14px 15px 0px 15px;
    &::placeholder {
      @include text-styles($font-primary, 16px, 400, 18px, 0);
      text-transform: uppercase;
      color:$color-grey;
      white-space: nowrap;
    }
    &:not(:placeholder-shown) {
      @include text-styles($font-primary, 16px, 400, 18px, 0);
      text-transform: uppercase;
      color:$color-grey;
      padding-left:14px;
      padding-top:14px;
    }
}

@media (min-width: $tablet) {
  .comment {
    padding-bottom:65px;
  }
  .comment__title {
    @include text-styles($font-primary, 36px, 400, 36px, 0);
    margin-bottom:87px;
    &::after {
      left:290px;
    }
    &::before {
      content:"";
      display:inline-block;
      width:30px;
      height:2px;
      background-color:$background-green;
      position: absolute;
      left: 0px;
    }
  }
  .comment__textarea {
    height: 175px;
    &::placeholder {
      @include text-styles($font-primary, 20px, 400, 30px, 0);
    }
    &:not(:placeholder-shown) {
      @include text-styles($font-primary, 20px, 400, 30px, 0);
    }
  }
}

@media (min-width:$desktop) {
  .comment {
    padding-bottom:70px;
  }
  .comment__title {
    margin-bottom:78px;
    position: relative;
    &::after {
      left:220px;
    }
    &::before {
      width: 100vw;
      left: calc(-1 * 100vw - 40px);
    }
  }
}
