.comment__title {
  @include title-styles($font-primary, $font-size-title-list, 400, 26px, 0);
  margin-bottom: 38px;
  display:flex;
  align-items: center;
  &::after {
    content:"";
    display:inline-block;
    width:159px;
    height:2px;
    background-color:$background-green;
    position: absolute;
    right: 0px;
  }
}

.comment__label {
  @include visually-hidden;
}

.comment__textarea {
  width:100%;
  outline:none;
  border:1px solid #E7E7E7;
  margin-bottom:23px;
  height: 150px;
  box-sizing: border-box;
    &::placeholder {
      @include text-styles($font-primary, 16px, 400, 18px, 0);
      text-transform: uppercase;
      color:$color-grey;
      padding:14px 15px 0px 15px;
      white-space: nowrap;
    }
    &:not(:placeholder-shown) {
      @include text-styles($font-primary, 16px, 400, 18px, 0);
      text-transform: uppercase;
      color:$color-grey;
      padding-left:14px;
      padding-top:14px;
    }
}

@media (min-width: $tablet) {
  .comment__title {
    @include text-styles($font-primary, 36px, 400, 36px, 0);
    margin-bottom:87px;
    &::after {
      width:476px;
    }
    &::before {
      content:"";
      display:inline-block;
      width:30px;
      height:2px;
      background-color:$background-green;
      position: absolute;
      left: 0px;
    }
  }
  .comment__textarea {
    margin-bottom: 65px;
    height: 175px;
    &::placeholder {
      @include text-styles($font-primary, 20px, 400, 30px, 0);
    }
    &:not(:placeholder-shown) {
      @include text-styles($font-primary, 20px, 400, 30px, 0);
    }
  }
}

@media (min-width:$desktop) {
  .comment__title {
    margin-bottom:78px;
    position: relative;
    &::after {
      width:1108px;
      right: -111px;
    }
    &::before {
      width:70px;
      left:-110px;
    }
  }
  .comment__textarea {
    margin-bottom: 70px;
  }
}
