.feedback {
  padding:27px 20px 24px 20px;
  max-width:$mobile;
  margin:0 auto;
}

.feedback__title {
  @include title-styles($font-primary, $font-size-title, 400, 36px, 0);
}

.feedback__text {
  @include title-styles($font-primary, 14px, 400, 18px, 0);
  text-transform: uppercase;
}

@media (min-width:$tablet) {

  .feedback {
    padding:27px 70px;
  }
}

@media (min-width:$desktop) {

  .feedback {
    padding:27px 110px;
  }

  .feedback__inner {
    display:flex;
    justify-content: space-between;
  }
}

@media (min-width:$mobile) {
  .feedback__rules {
    display:block;
  }
}

@media (min-width:$tablet) {
  .feedback {
    max-width:$tablet;
    margin:0 auto;
  }

  .feedback__rules {
    display:inline-block;
  }

}

@media (min-width:$desktop) {
  .feedback {
    max-width:$desktop;
    margin:0 auto;
  }

}
