
.address__inner {
  display: flex;
  padding: 19px 20px;
}
.address__text {
  @include text-styles($font-primary,16px, 400, 20px, 0);
  text-transform: uppercase;
  max-width:140px;
}
.address__contacts {
  @include text-styles($font-secondary,14px, 400, 20px, 0);
  max-width:140px;
  color:$color-grey;
  margin-left:auto;
}
.address__title {
  @include visually-hidden;
}
.address__inner--grey {
  background-color: $background-grey;
}
.address__map iframe {
  border: none;
  display: block;
  width:100%;
  height:362px;
}
.address__map  #map .place-card.place-card-large {
  display:none;
}
@media (min-width: $tablet) {
  .address__inner {
    padding:60px 70px 60px 70px;
    justify-content: space-between;
  }
  .address__text {
    @include text-styles($font-primary,20px, 400, 26px, 0);
    max-width:163px;
  }
  .address__city {
    position: relative;
    top:20px;
  }
  .address__contacts {
    @include text-styles($font-secondary,16px, 400, 20px, 0);
    max-width:157px;
    text-align: end;
  }
  .address__map iframe {
    height:400px;
  }
}

@media (min-width:$desktop) {
  .address {
    position: relative;
  }
  .address__inner {
    width:408px;
    position: absolute;
    top:95px;
    left:110px;
    background-color: $color-white;
    padding:61px 78px 60px 80px;
  }
  .address__contacts {
    text-align: left;
  }
  .address__city {
    display: inline-block;
    padding-top:17px;
  }
}



