
.address__inner {
  display: flex;
  padding: 26px 20px;
}
.address__text {
  @include text-styles($font-primary,16px, 400, 20px, 0);
  text-transform: uppercase;
  max-width:140px;
}
.address__contacts {
  @include text-styles($font-secondary,14px, 400, 20px, 0);
  max-width:140px;
  color:$color-grey;
  margin-left:auto;
}
.address__title {
  @include visually-hidden;
}
.address__inner--grey {
  background-color: $background-grey;
}
.address__map iframe {
  border: none;
  display: block;
  width:100%;
  height:362px;
}
.address__map  #map .place-card.place-card-large {
  display:none;
}
@media (min-width: $tablet) {
  .address__inner {
    padding:61px 70px;
  }
  .address__text {
    max-width:163px;
  }
  .address__contacts {
    max-width:157px;
    text-align: end;
  }
  .address__map iframe {
    height:400px;
  }
}

@media (min-width:$desktop) {
  .address {
    position: relative;
  }
  .address__inner {
    position: absolute;
    top:95px;
    left:110px;
    background-color: $color-white;
    padding:61px 78px 60px 80px;
  }
}



