.address {
  display: flex;
  padding: 26px 20px;
}

.address__text {
  @include text-styles($font-primary,16px, 400, 20px, 0);
  text-transform: uppercase;
  max-width:140px;
}

.address__contacts {
  @include text-styles($font-secondary,14px, 400, 20px, 0);
  max-width:140px;
  color:$color-grey;
  margin-left:auto;
}

.address__title {
  @include visually-hidden;
}
.address--grey {
  background-color: $background-grey;
}

@media (min-width: $tablet) {
  .address {
    padding:61px 70px;
  }

  .address__text {
    max-width:163px;
  }

  .address__contacts {
    max-width:157px;
    text-align: end;
  }
}



