.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: $background-grey;
}
// .footer__link-title {
//     &::before {
//       content:url('../img/index/icons/footer_logo.svg');
//     }
// }
.footer__break-hr {
  width:100%;
  border: 1px solid #D9D9D9;
  margin:20px 0;
}

@media (min-width: $tablet) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding:62px 30px;
  }
  .footer__break-hr {
    display:none;
  }
}

@media (min-width: $desktop) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding:73px 110px;
  }

  .footer__icon-title {
      &:hover {
        fill:#3E3E3E;
      }
      &:active {
        fill:#6B6B6B;
      }
  }
}


