.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 40px 20px;
  background: $background-grey;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
}

.footer__break-hr {
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 20px 0;
}

@media (min-width: $tablet) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 56px 30px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer__break-hr {
    display: none;
  }
}

@media (min-width: $desktop) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .footer__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 73px 110px;
    box-sizing: border-box;
  }

  .footer__icon-title {
    &:hover {
      fill: #3e3e3e;
    }

    &:active {
      fill: #6b6b6b;
    }
  }
}
