
.product-item-add {
  display:flex;
  flex-direction: column;
  gap:15px;
    &::before {
      content: '';
      display:block;
      width:100%;
      height:2px;
      background-color: #CDCDCD;
    }
    &:last-child::after {
      content: '';
      display:block;
      width:100%;
      height:2px;
      background-color: #CDCDCD;
    }
}

.product-item-add__title {
  @include text-styles($font-primary, 16px, 400, 16px, 0);
  text-transform: uppercase;
}

.product-item-add__inner {
  display:flex;
  flex-direction:column;
  gap:13px;
}

.product-item-add__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-item-add__label,
.product-item-add__value {
  @include text-styles($font-secondary, 14px, 400, 14px, 0);
}

.product-item-add__button {
  @include link-styles-reset;
  @include text-styles($font-primary, 16px, 400, 20px, 0);
  display:block;
  text-align: center;
  text-transform: uppercase;
  background-color: $background-green;
  color:$color-white;
  padding:10px 0;
  margin-bottom:19px;
}

@media (min-width:$tablet) {
  .product-item-add {
    gap:25px;
    border-top:1px solid #CDCDCD;
    border-right:1px solid #CDCDCD;
    border-left:1px solid #CDCDCD;
    padding:26px 38px 28px 38px;
    &:last-child {
      border-bottom:1px solid #CDCDCD;
    }
    &:last-child::after,
    &::before {
      display:none;
    }
  }

  .product-item-add__title{
    @include text-styles($font-primary, 20px, 400, 20px, 0);
  }

  .product-item-add__label,
  .product-item-add__value {
    @include text-styles($font-secondary, 16px, 400, 20px, 0);
  }
  .product-item-add__inner {
    flex-direction:row;
    justify-content: space-between;
  }
  .product-item-add__description {
    gap:49px;
  }
}

@media (min-width:$desktop) {
  .product-item-add {
    flex-direction:row;
    justify-content: space-between;
    padding:25px 0px 27px 0px;
    border-right:none;
    border-left:none;
  }
  .product-item-add__inner {
    align-items:center;
    flex-grow:1;
    justify-content: space-between;

  }
  .product-item-add__button {
    margin-bottom: 0px;
    min-width:224px;
  }

  .product-item-add__description {
    width:50%;
  }

}
