.addition {
  margin-top:-21px;
}
.addition__inner {
  display:grid;
  grid-template-columns: 174px;
  gap:13px;
  padding:34px 0;
}
.addition__title {
  @include title-styles($font-primary, 24px, 400, 26px, 0);
  display:flex;
  align-items: center;
  &::after {
    content:"";
    display:inline-block;
    width:100vw;
    height:2px;
    background-color:$background-green;
    position: absolute;
    left:186px
  }
}
.addition__checkbox {
  display:none;
  &:checked + .addition__label::after {
    content: url('../img/form/checkbox/checkbox_tick.svg');
    display:inline-block;
    width:26px;
    height: 26px;
    position:absolute;
    left:2px;
  }
  &:disabled + .addition__label {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
.addition__label {
  @include title-styles($font-primary, 16px, 400, 26px, 0);
  text-transform: uppercase;
  color:$color-grey;
  display:flex;
  align-items: center;
  gap:15px;
  position: relative;
    &::before {
      content: '';
      display:inline-block;
      border:1px solid #CDCDCD;
      width:30px;
      height: 30px;
    }
}

@media (min-width:$tablet) {
  .addition__inner {
    grid-template-columns: repeat(2,224px);
    grid-template-rows: repeat(2,1fr);
    padding:57px 0 52px 0;
    column-gap:119px;
    row-gap: 29px;
  }
  .addition__title {
    @include title-styles($font-primary, 36px, 400, 36px, 0);
    &::after {
      left:322px;
      top:1595px;
    }
    &::before {
      content:"";
      display:inline-block;
      width:30px;
      height:2px;
      background-color:$background-green;
      position: absolute;
      left: 0px;
      top:1595px;
    }
  }
  .addition__label {
    @include title-styles($font-primary, 20px, 400, normal, 0);
    gap:20px;
    white-space: nowrap;
    &::before {
      width:40px;
      height: 40px;
    }
  }
  .addition__checkbox {
    &:checked + .addition__label::after {
      content: url('../img/form/checkbox/checkbox_tick_tablet.svg');
      display:inline-block;
      top:6px;
      left:8px;
    }
  }
}

@media (min-width:$desktop) {
  .addition__title {
    position: relative;
    &::after {
      left:258px;
      top:21px;
    }
    &::before {
      width: 100vw;
      left: calc(-1 * 100vw - 40px);
      top:21px;
    }
  }
  .addition__inner {
    grid-template-columns: repeat(4,189px);
    grid-template-rows: 1fr;
    column-gap:136px;
  }
  .addition__label {
    display: flex;
    align-items: unset;
      &:before {
        flex-shrink:0;
      }
  }
}
