.product-item {
  padding:20px 20px 25px 20px;
  border-top:1px solid #EBEBEB;
    &:last-child {
      border-bottom:1px solid #EBEBEB;
    }
}
.product-item__title {
  @include text-styles($font-primary, 16px, 400, 20px, 0);
  text-transform:uppercase;
  max-width:76px;
  margin-bottom: 14px;
}
.product-item__row {
  @include text-styles($font-secondary, 12px, 400, 16px, 0);
  color:$color-grey;
  display:flex;
  justify-content: space-between;
}
.product-item__inner {
  display:flex;
  padding-bottom:17px;
  justify-content: space-between;
}
.product-item__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
}
.product-item__image,
.product-item__content-inner {
  flex-basis:140px;
  max-height: 107px;
}
.product-item__link {
  @include link-styles-reset;
  @include text-styles($font-primary, 16px, 400, 20px,0);
  display:inline-block;
  width:100%;
  padding:10px 0;
  background-color: $background-green;
  text-align:center;
  text-transform: uppercase;
  color:$color-white;
}

@media (min-width:$tablet) {
  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0 37px 40px 37px;
    border-top: none;
    background:
    linear-gradient(to bottom, #ffffff 15%, transparent 15%),
    linear-gradient(to bottom, #F2F2F2 100%, transparent 100%);
      &:last-child {
        background: none;
        height: 339px;
        border:2px solid $background-grey;
        padding:50px 20px 40px 20px;
        align-self:flex-end;
      }
      &:nth-child(odd) .product-item__image-wrapper {
        padding-top:24px;
        padding-bottom:14px;
      }
  }
  .product-item__image,
  .product-item__content-inner {
    display:flex;
    flex-direction: column;
    flex-basis:140px;
    max-height: 100%;
  }
  .product-item__content-inner {
    gap:10px;
  }
  .product-item__inner{
    flex-direction: column;
    padding-bottom:32px;
  }
  .product-item__image-wrapper {
    height: 100%;
    margin-bottom:22px;
  }
  .product-item__row {
    border-bottom:1px solid #CDCDCD;
    margin-bottom:10px;
  }
  .product-item__title {
    @include text-styles($font-primary, 20px, 400, 24px,0);
    max-width:135px;
    text-align: center;
    align-self:center;
    margin-bottom:10px;
  }
  .product-item__row {
    @include text-styles($font-secondary, 16px, 400, 20px,0);
  }
}

@media (min-width:$desktop) {
  .product-item {
    display: flex;
    flex-direction: column;
    padding: 0px 38px 40px 38px;
    background-color: none;
    background:
    linear-gradient(to bottom, #ffffff 15%, transparent 15%),
    linear-gradient(to bottom, #F2F2F2 100%, transparent 100%);
    &:nth-child(odd) .product-item__image-wrapper {
      padding-top:24px;
      padding-bottom:9px;
    }
  }
  .product-item__link {
    margin-top:auto;
    &:hover {
      background-color:$background-green-hover;
    }
    &:active{
      color: rgba($color-white, 0.3);
    }
  }
}
